.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 5em;
}

.SliderLogin {
  text-align: center;
  margin: auto;
}

.SliderCreateAccount {
  text-align: center;
  margin: auto;
}
