.Footer {
  background-color: #F6F9FF;
  padding: 70px 0;

}

.container {
	max-width: 1170px;
	margin:auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.footerCol ul {
	list-style: none;
}

.footerCol {
  width: 30%;
  padding: 0 15px;
  
}

.footerCol h3 {
  font-size: 22px;
	color: #000358;
	text-transform: capitalize;
	font-weight: 500;
	position: relative;
  font-weight: bold;
  
}

.footerCol h2 {
  font-size: 25px;
	color: #000358;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: bold;
	position: relative;
  padding: top 15px;
  
}

.footerCol h4 {
  font-size: 15px;
	color: #458CFE;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: bold;
	position: relative;
  padding: top 15px;
  
}

.footerCol ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #000358;
	text-decoration: none;
	font-weight:bolder;
	display: block;
	transition: all 0.3s ease;
}

.footerCol .socialLinks a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #458CFE;;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footerCol .socialLinks a:hover{
	color: #24262b;
	background-color: #ffffff;
}

